@model IEnumerable<ProfStudentName>

@if (@Model.Any())
{
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lista me Student dhe Profesor</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Profesori</th>
                                    <th scope="col">Studenti</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.ProfesorName</th>
                                        <td>@item.StudentName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6 offset-3">
                <a class="btn btn-primary" asp-controller="Student" asp-action="Index">Lista e Studenteve</a>
            </div>

        </div>

    </div>
}
else
{
    <div class="card">
        <div class="card-body pb-1">
            <h5 class="card-title">Kurset nuk kan filluar ende.</h5>
        </div>
    </div>
}