@{
    ViewData["Title"] = "Home Page";
}
<div class="card p-5">
    <div class="card-body">
        <div class="text-center">
            <h1 class="display-4">Akademi e Revolucionit Digjital</h1>
            <p>Akademia jone ofron edukim profesional, trajnime dhe zhvillim nismash afariste (Startups) në TIK.</p>
        </div>
    </div>
</div>
