<style>
    .custom-i {
        font-size:92px;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-4">
            <div class="card text-center">
                <div class="card-header">                    
                  <i class="bi bi-x-circle text-danger custom-i"></i>
                </div>
                <div class="card-body">
                    <h3>Casje e pa autorizuar</h3>
                    <p>Ju nuk keni casje te shfrytezoni kete resurs.</p>

                </div>
            </div>



        </div>

    </div>

</div>
