@model ForgotPasswordVm
@{
    ViewBag.Title = "Keni harruar fjalekalimin";
}
<div class="container">
    <div class="col-4 offset-4">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Keni harruar fjalekalimin</h5>

                <form method="post">
                    @*<input asp-for="Id" hidden="hidden" value="@id"/>*@
                    <div asp-validation-summary=ModelOnly class="text-danger"></div>

                    <div class="form-group mb-3">
                        <label asp-for="Email" class="form-label">Email Adresa</label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>                   


                    <div class="mb-3">
                        <button class="btn btn-primary ml-auto" type="submit">Ndrysho</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}





