@model ResetPasswordVm
@{
    ViewBag.Title = "Keni harruar fjalekalimin";
}
<div class="container">
    <div class="col-4 offset-4">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Keni harruar fjalekalimin</h5>

                <form method="post">
                    <input asp-for="Email" hidden="hidden"/>
                    <input asp-for="Token" hidden="hidden"/>
                    <div asp-validation-summary=ModelOnly class="text-danger"></div>

                    <div class="form-group mb-3">
                        <label asp-for="Password" class="form-label">Fjalekalimi</label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>   
                       <div class="form-group mb-3">
                        <label asp-for="ConfirmPassword" class="form-label">Konfirmo Fjalekalimin</label>
                        <input asp-for="ConfirmPassword" class="form-control">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>   


                    <div class="mb-3">
                        <button class="btn btn-primary ml-auto" type="submit">Ndrysho</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}





