@model ProfesorViewModel
@{
    ViewBag.Title = "Shto Profesor";
    var listCourse = ViewData["Courses"] as SelectList;
}
<div class="container">
    <div class="col-8 offset-2">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Shto Profesor</h5>

                <form asp-controller="Profesor" asp-action="Create" method="post" enctype="multipart/form-data">
                    @*<input asp-for="Id" hidden="hidden" value="@id"/>*@
                    <div asp-validation-summary=ModelOnly class="text-danger"></div>

                    <div class="form-group mb-3">
                        <label asp-for="FirstName" class="form-label">Emri</label>
                        <input asp-for="FirstName" class="form-control">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="LastName" class="form-label">Mbiemri</label>
                        <input asp-for="LastName" class="form-control">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="PagaNeto" class="form-label">Paga</label>
                        <input asp-for="PagaNeto" class="form-control">
                        <span asp-validation-for="PagaNeto" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">

                        <label asp-for="CourseId" class="form-label">Zgjedh Kursin</label>
                        <select asp-for="CourseId" asp-items="@listCourse" class="form-select">
                            <option value="">-- Zgjedh Kursin --</option>
                        </select>
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Image" class="form-label">Foto Profili</label>
                        <input asp-for="Image" class="form-control">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Images" class="form-label">ID Foto</label>
                        <input asp-for="Images" class="form-control" multiple>
                        <span asp-validation-for="Images" class="text-danger"></span>
                    </div>

                    @*
                        <div class="form-group mb-3">
                        <label asp-for="IMAGE" class="form-label">Id Foto</label>
                        <input asp-for="IMAGE" class="form-control">
                        <span asp-validation-for="IMAGE" class="text-danger"></span>
                        </div>
                    *@

                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Shto Profesor</button>
                    <button class="btn btn-outline-primary float-end" asp-controller="Profesor" asp-action="Index">Kthehu tek Lista</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}





