
@model Course

@if (@Model != null)
{
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Kursi
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Model.CourseId </h5>             
                     <p class="card-text">@Model.CourseName </p>             
                </div>
            </div>



        </div>
        <div class="col-md-12">
            <a class="btn btn-primary" asp-controller="Course" asp-action="Index">Lista e Kurseve</a>
        </div>

    </div>

    </div>
}
else
{
    <h3>Kursi me Id e dhene nuk ekziston.</h3>    
}