@model Course
@{
    ViewBag.Title = "Ndrysho te dhenat per kursin";
}
<div class="container p-5">
    <div class="col-6 offset-3">
        <form asp-controller="Course" asp-action="Edit" method="post">
            <input asp-for="CourseId" hidden="hidden" value="@Model.CourseId"/>
            <div asp-validation-summary=ModelOnly class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="CourseName" class="form-label">Emri</label>
                <input asp-for="CourseName" class="form-control">
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
           

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Ndrysho</button>
            </div>
            <div>
            </div>


        </form>
    </div>

</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}





